*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PHPStorm
.idea/
*.iml
*.iws

.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

.osp/
##dump.sql
#*.sql.gz
#*.sql

node_modules/
.cache/
.sass-cache/
.gulp/
dist/

#wp-config.php
#wp-config-sample.php
#.htaccess
#/wp-admin/
#/wp-includes/
#/wp-content/upgrade/
#/wp-content/cache/
#/wp-content/uploads/
#/wp-content/plugins/index.php
#/wp-content/themes/index.php

.DS_Store
Thumbs.db
desktop.ini

.env
.env.local